footer
  .container
    .row
      address
        strong
          | Costa's Cleaning
        br
        a(class="contact-bottom" href="kc@costascleaning.com")
          | kc@cleaningwithcosta.com
        br
        p
          | © Costa's Cleaning Services 2017
