header
  .container
    .row
      .message.col-md-7.col-md-offset-2
        //img#logo(src="images/Costas-Cleaning.svg", alt="Costa's Cleaning")
        include ./Costas-Cleaning.svg
        h1 Costa's Cleaning
        h2 Residential & Commercial Cleaning
    .row
      .message.col-md-7.col-md-offset-2
        a(href="tel:781-781-8050").contact-btn.btn.btn-default
          span.glyphicon.glyphicon-phone
          |  857.251.5190
        a(href="mailto:kelly@costascleaning.com").contact-btn.btn.btn-default
          span.glyphicon.glyphicon-envelope
          |  kc@cleaningwithcosta.com
