
doctype
html
  head
    include includes/meta
  body
    .container
      .row
        .message.col-md-7.col-md-offset-2
          h2.a404 404
    include includes/footer
      //.row
      //  .references.col-md-12
      //    block references
      //.sidebar.col-md-4
      //  block sidebar



    script(src='js/scripts.js')
