include mixins



doctype
html
  head
    include includes/meta
  body
    include includes/header
    include includes/footer
      //.row
      //  .references.col-md-12
      //    block references
      //.sidebar.col-md-4
      //  block sidebar



    script(src='js/scripts.js')
