




@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Quicksand')
@import url('https://fonts.googleapis.com/css?family=Lato:900|Open+Sans:400,300,300italic')

//@import 'nib'
//@import 'mixins/strap'
//@import 'bootstrap'



$quicksand = 'Quicksand'
open-sans = 'Open Sans'
lato = 'Lato'

small = 'screen and (max-width: 420px)'
medium = 'screen and (min-width: 420px)'
large = 'screen and (min-width: 992px)'
xlarge = 'screen and (min-width: 1200px)'

/*
 * Store the main color and
 * background color as variables
 */
main-color = #4998F2
background-color = #faf9f0
red-color = #ED174C
