
@import './global.styl'



//----------------------------------
//    BOOTSTRAP OVERWRITES          |
//----------------------------------

.navbar
  font-family 'Quicksand'
  margin-bottom 0
  border-radius 0
  border none

  .navbar-nav

    li
      &:hover
        background-color: white
        color: white


    a
      &:link
      &:visited
      &:active
        color white

  a
    &:link
    &:visited
    &:active
      color white

.navbar-default
  color background-color
  background-color main-color

.btn-group
  .btn-default
    border none




//   ______  __          __                __
//  /      \|  \        |  \              |  \
// |  $$$$$$| $$ ______ | $$____   ______ | $$
// | $$ __\$| $$/      \| $$    \ |      \| $$
// | $$|    | $|  $$$$$$| $$$$$$$\ \$$$$$$| $$
// | $$ \$$$| $| $$  | $| $$  | $$/      $| $$
// | $$__| $| $| $$__/ $| $$__/ $|  $$$$$$| $$
//  \$$    $| $$\$$    $| $$    $$\$$    $| $$
//   \$$$$$$ \$$ \$$$$$$ \$$$$$$$  \$$$$$$$\$$


.btn--default
  position: relative
  background-color red-color
  color white
  font-size 20px
  text-align left
  border none


.inverse
  background-color red-color
  color white

////////////////////////////////////////////////
////////////////////////////////////////////////

// __    __                         __
// |  \  |  \                       |  \
// | $$  | $$ ______   ______   ____| $$ ______   ______
// | $$__| $$/      \ |      \ /      $$/      \ /      \
// | $$    $|  $$$$$$\ \$$$$$$|  $$$$$$|  $$$$$$|  $$$$$$\
// | $$$$$$$| $$    $$/      $| $$  | $| $$    $| $$   \$$
// | $$  | $| $$$$$$$|  $$$$$$| $$__| $| $$$$$$$| $$
// | $$  | $$\$$     \\$$    $$\$$    $$\$$     | $$
 // \$$   \$$ \$$$$$$$ \$$$$$$$ \$$$$$$$ \$$$$$$$\$$


.flex
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center


.row
  flex-direction: row
  justify-content: space-between
  @media medium
    flex-direction: column
  @media large
    flex-direction: row

.row--btns
  @extend .row
  @media medium {flex-direction: row; }
  @media large {flex-direction: row; }




//TODO change back vh
header

  //height 900px
  padding 50px
  color #fff
  font-size 3em
  text-align center
  background-color white


// The name and contact buttons
.message
  color red-color
  text-align left
  @media medium
    h1
      font-family lato
      font-size 6vw
    h2
      font-size 3vw
      font-family open-sans
      font-weight 300
  @media small
    h1
      font-family lato
      font-size 14vw
    h2
      font-size 10vw
      font-family open-sans
      font-weight 300

  a
    margin: 0 10px
    font-family open-sans
    font-weight 300





////////////////////////////////////////////////
////////////////////////////////////////////////

//----------------------------------
//    PROJECT CSS                  |
//----------------------------------




 // _______                 __
// |       \               |  \
// | $$$$$$$\ ______   ____| $$__    __
// | $$__/ $$/      \ /      $|  \  |  \
// | $$    $|  $$$$$$|  $$$$$$| $$  | $$
// | $$$$$$$| $$  | $| $$  | $| $$  | $$
// | $$__/ $| $$__/ $| $$__| $| $$__/ $$
// | $$    $$\$$    $$\$$    $$\$$    $$
 // \$$$$$$$  \$$$$$$  \$$$$$$$_\$$$$$$$
//                            |  \__| $$
//                             \$$    $$
//                              \$$$$$$



.contact
  margin-top 25px
  font-family 'Quicksand'
  font-size 3vw
  background-color: white
  color red-color
  border-radius 5px
  padding 8px
  text-align center
  margin-bottom 20px

  h2
    margin 10px
    line-height 150%



.row--bullets
  @extend .row
  flex-flow: row wrap;
  justify-content: space-around
  align-items: flex-start
  padding: 8px



.van_image
  width 100%


.bullet
  flex 1
  list-style: none
  font-family open-sans
  margin 10px;
  h2
    font-family lato



.bullets--list
  border-radius 3px
  width 90%
  padding 0
  margin 0

  .bullet--item
    padding 0
    margin 0

    &:nth-child(odd)
      padding 3px
      background-color: white
      color red-color

    &:nth-child(even)
      padding 3px


#search
  text-align center
  width 500px
  height 70px
  font-size 3.5em
  border-radius 8px

//----------------------------------
//    PRESET CSS                   |
//----------------------------------

html
  background-color #424242

body
  color white
  font-family 'Open Sans'
  font-size 1.6em
  background-color red-color



.introduction
  margin 50px
  float left
  h2
    text-shadow: 4px 4px 6px #333;
    font-family lato
    font-size: 4.2vw

    // @media medium
    //   font-size: 10vw
    // @media large
    //   font-size: 5vw
    @media medium
      font-size: 6vw

  p
    margin-bottom 20px

.sidebar
  float left

  .widget

  /*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */

    border-radius 3px
    border 1px solid #ccc
    margin-left 20px
    background-color background-color
    box-shadow inset 0px 0px 0px 3px rgba(#fff, 0.8), 0px 3px 0px -2px rgba(#000, 0.1)

    h1
      font-family 'Quicksand'
      margin 13px 10px 4px
      padding-bottom 10px
      border-bottom 1px dotted #ddd
      border-radius 2px 2px 0px 0px
      margin-bottom 10px

    p
      font-size 13px
      padding 0px 10px
      margin-bottom 10px

p
  line-height 1.8


.a404
  font-size: 8em;a


footer
  background-color #424242
  color background-color
  height 200px
  padding-top 20px
  margin-top 50px
  border-top 1px dotted #ccc
  font-size 13px

  .contact-bottom
    &:link
    &:visited
    &:active
      color white
